* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
  color: black;
  line-height: 1.6;
  padding: 20px;
}

header {
  background-color: #2c7be5;
  color:black;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 20px;
}

div {
  background: purple;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

section {
  background: black;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}


h1, h2 {
  margin-bottom: 10px;
  color:pink;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  font-weight: bold;
  color: white;
}


input, textarea {
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  background-color:black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background:black;
  color: white;
  text-align: center;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

li:hover {
  background:black;
  color: white;
}
